body {
   background-image: url(https://i.ytimg.com/vi/_IHP6t6gz64/maxresdefault.jpg);
}

h1 {
  font-family: ar cena, calibri;
    color: white;
    font-size: 70px;
}

h2 {
  font-family: calibri;
    color: black;
    font-size: 15px;
}

h3 {
  font-family: calibri;
    color: black;
    font-size: 25px;
}

h4 {
  font-family: calibri;
    color: black;
    font-size: 40px;
    margin: 10px;
}


/* Split the screen in half */
.split {
 height: 100%;
 width: 50%;
 position: fixed;
 z-index: 1;
 top: 0;
 overflow-x: hidden;
 padding-top: 20px;
}

/* Control the left side */
.left {
 left: 0;
 top: 20%;
 /* background-color: #333; */

}

/* Control the right side */
.right {
 right: 0;
/*  background-color: #333; */
}

#TaulukkoKehys {
  background-color: grey;
  height: 40%;
  width: 80%;
}

#TaulukkoKehys2 {
  background-color: grey;
  height: 30%;
  width: 80%;
}
